:root{
    --bg-color: #f8e9dd;
    --color-card: #ec775f;
    --color-title:#000000;
    --color-content:#000000;
    --branco: #FFFFFF;
    --plus-btn:#00B050;
    --clear-btn:#c62828;

    --theme-name:'Dark mode';
    --theme-icon: url("../img/moon.svg");

    --ubuntu: 'Ubuntu', sans-serif;
}
.container{
    margin: 0% 5%;
    text-align: center;
}
body{
    background: var(--bg-color);
    transition: 1s;
}
main{
    margin-top: 5%;
}
