#btn-change{
    display: none;
}
.add{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.action-btn{
    align-items: center;
    margin-bottom: 5%;
}
#btn-plus{
    background: var(--action-btn);
    color:var(--branco);
    cursor: pointer;
    border-radius: 10%;
    border: none;
    font-size: 1rem;
    /* line-height: 1rem; */
    font-weight: 700;
    padding: 2% 2%;
    width: 52px;
}
#btn-clear{
    background-color: var(--action-btn);
    color:var(--branco);
    cursor: pointer;
    /* Arredondar o botão */
    border: none;
    border-radius: 10%;
    font-size: 1rem;
    font-weight: 700;
    padding: 2% 2%;
    width: 52px;
    /* line-height: 0.8rem; */
}
