#btn-change{
    display: none;
}
.add{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.action-buttons{
    align-items: center;
    margin-bottom: 5%;
}
#btn-action{
    background: var(--action-btn);
    color:var(--branco);
    cursor: pointer;
    border-radius: 10%;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2% 2%;
    width: 5rem;
}
@media screen and (min-width:768px){
    #btn-action{
        font-size: 2rem;
        width: 8rem;
    }
}
@media screen and (min-width:1024px){
    #btn-action{
        font-size: 3rem;
        width: 10rem;
    }
}
