.title{
    font-size: 3rem;
    font-family: var(--ubuntu);
    font-weight: 700;
    color: var(--color-title);
}
.dark-content{
    text-align: left;
    padding-top: 10%;
    
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    /* box-shadow: 2px 2px 3px 0px var(--cor-card); */
}
.change-theme{
    position: absolute;
    top: 16%;
    left: 10%;

    background-image: var(--theme-icon); 
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 15px 15px;
    cursor: pointer;
}
#display{
    width: 70%;
    text-align: center;
    font-family: var(--ubuntu);
    margin-bottom: 5%;
    margin-top: 0.5%;
}
#list{
    font-size: 1.5rem;
    font-family: var(--ubuntu);
    font-weight: 400;
    color: var(--color-content);
}
.card{
    background-color: var(--color-card);
    border-radius: 5%;
    padding: 2% 5%;
    height: 300px;
    max-height: 350px;
}
.task{
    margin: 2% 0%;
    cursor: pointer;
    transition: .5s ease-in-out; 
}
.task:hover{
    background: #f19684;
    transition: .5s ease-in-out;
}

.text{
    font-family: var(--ubuntu);
    color: var(--color-content);
}
.text::before{
    content: var(--theme-name);
}
.marked{
    text-decoration: line-through;
    opacity: 0.3;
}
@media screen and (min-width:768px){
    .change-theme{
        position: absolute;
        top: 15%;
        left: 10%;
    
        background-image: var(--theme-icon); 
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 30px 30px;
        cursor: pointer;
    }
    .text{
        font-size: 1.875rem;
    }
    #display{
        width: 70%;
        text-align: center;
        font-family: var(--ubuntu);
        font-size: 2rem;
        margin-bottom: 5%;
        margin-top: 0.5%;
    }
    .task{
        font-size: 2rem;
    }
    .card{
        background-color: var(--color-card);
        border-radius: 5%;
        padding: 2% 5%;
        height: 450px;
        max-height: 450px;
    }
}
@media screen and (min-width: 1024px){

}